body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

#room {
  background-color: #202020;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#ball {
  background-image: url(../img/ball.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 500px;
  left: 200px;
  border-radius: 100px;
  z-index: 2;
}

#floor-img {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

#basket {
  width: 160px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ff6a20;
  background-color: #202020;
  position: absolute;
  bottom: 600px;
  right: 10px;
  z-index: 1;
}

#basket-img {
  position: absolute;
  bottom: 457px;
  right: -10px;
  width: 200px;
  z-index: 0;
}

#new-game-button,
.info,
.result {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  width: 50vw;
  height: 50vh;
  background-color: #202020;
  border: 2px solid #cad1e1;
  color: #f54d1e;
  font-style: oblique;
  -webkit-text-stroke: 2px #cad1e1;
  white-space: pre-line;
  text-shadow: 10px 10px #0061b9, 
                9px 9px #0061b9, 
                8px 8px #0061b9,
                7px 7px #0061b9, 
                6px 6px #0061b9, 
                5px 5px #0061b9, 
                4px 4px #0061b9,
                3px 3px #0061b9,
                2px 2px #0061b9,
                1px 1px #0061b9;
  font-size: 3.5vw;
  font-weight: 900;
}

#new-game-button:hover {
  font-size: 4vw;
  border-color: #0061b9;
}

#new-game-button {
  position: absolute;
  z-index: 3;
}

.info,
.result {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 3;
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  font-size: 10vw;
  color: #383838;
  user-select: none;
}

#end-game-button{
  position: fixed;
  width: 150px;
  height: 150px;
  background-color: #202020;
  border: 2px solid #cad1e1;
  top: 50px;
  z-index: 0;
  color: #cad1e1;
  font-size: 1vw;
  font-style: oblique;
}

#end-game-button:hover{
  font-size: 1.2vw;
  color: #0061b9;
  border-color: #f54d1e;
}

#drop-zone {
  border-radius: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 500px;
  height: 500px;
}

#man {
  width: 400px;
  height: 432px;
  position: absolute;
  bottom: -50px;
  left: 50px;
  z-index: 1;
}

#man img {
  width: 400px;
  position: absolute;
  left: 0;
  z-index: 1;
}

#left-arm,
#right-arm {
  position: absolute;
  left: 0;
}

.part1,
.part2 {
  position: fixed;
  width: 22px;
  height: 125px;
  background-color: #583f27;
  left: 240px;
  border-radius: 50px;
  z-index: 0;
}

.part1 {
  bottom: 300px;
  transform: rotate(0deg);
  left: 240px;
}

.part2 {
  bottom: 425px;
  transform: rotate(0deg);
}

#right-arm .part1 {
  bottom: 290px;
  left: 225px;
}

#right-arm .part2 {
  bottom: 415px;
  left: 225px;
}

#right-arm .part1,
#right-arm .part2 {
  z-index: 4;
  background-color: #8d7246;
}

.hide {
  display: none;
}

.select {
  background-color: #cad1e1;
}
